@using Parivar.Dto.Enum
@using Parivar.Utility.Extension
<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Basic Page Needs
    ================================================== -->
    <title>Parivar | Admin</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- favicon -->
    <partial name="_Favicon.cshtml" />

    @RenderSection("PageStyles", required: false)
    <!-- Plugins css -->
    <link href="~/adminTheme/plugins/bootstrap-toggle/bootstrap-toggle.css" rel="stylesheet" />
    <link href="~/adminTheme/plugins/sweetalert2/sweetalert2.min.css" rel="stylesheet" type="text/css" />

    <!-- DataTables -->
    <link href="~/css/Datatable.min.css" rel="stylesheet" type="text/css" />

    <!-- Custom Files -->
    <link href="~/adminTheme/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/adminTheme/assets/css/icons.css" rel="stylesheet" type="text/css" />
    <link href="~/adminTheme/assets/css/style.css" rel="stylesheet" type="text/css" />

    <script src="~/adminTheme/assets/js/modernizr.min.js"></script>
    <style type="text/css">
        .toggle.ios, .toggle-on.ios, .toggle-off.ios {
            border-radius: 20px;
        }

            .toggle.ios .toggle-handle {
                border-radius: 20px;
            }
    </style>
</head>

<body class="fixed-left">

    <!-- Begin page -->
    <div id="wrapper">

        <!-- Top Bar Start -->
        <div class="topbar">

            <!-- LOGO -->
            <div class="topbar-left">
                <div class="text-center">
                    <a href="/Admin/" class="logo">
                        <img src="~/theme/images/logo.png" style="height:50px;" />
                        @*<i class="md md-terrain"></i> <span>Moltran </span>*@
                    </a>
                </div>
            </div>
            <!-- Button mobile view to collapse sidebar menu -->

            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <ul class="list-inline menu-left mb-0">
                        <li class="float-left">
                            <a href="javascript:;" class="button-menu-mobile open-left">
                                <i class="fa fa-bars"></i>
                            </a>
                        </li>
                        @*<li class="hide-phone float-left">
                                <form role="search" class="navbar-form">
                                    <input type="text" placeholder="Type here for search..." class="form-control search-bar">
                                    <a href="#" class="btn btn-search"><i class="fa fa-search"></i></a>
                                </form>
                            </li>*@
                    </ul>

                    <ul class="nav navbar-right float-right list-inline">
                        @*<li class="dropdown d-none d-sm-block">
                            <a href="#" data-target="#" class="dropdown-toggle waves-effect waves-light" data-toggle="dropdown" aria-expanded="true">
                                <i class="md md-notifications"></i> <span class="badge badge-pill badge-xs badge-danger">3</span>
                            </a>
                            <partial name="_Notification.cshtml" />
                        </li>*@
                        <li class="d-none d-sm-block">
                            <a href="#" id="btn-fullscreen" class="waves-effect waves-light"><i class="md md-crop-free"></i></a>
                        </li>
                        @*<li class="d-none d-sm-block">
                            <a href="#" class="right-bar-toggle waves-effect waves-light"><i class="md md-chat"></i></a>
                        </li>*@
                        <li class="dropdown open">
                            <a href="#" class="dropdown-toggle profile" data-toggle="dropdown" aria-expanded="true"><img src="~/adminTheme/assets/images/users/user.png" alt="user-img" class="rounded-circle"> </a>
                            <ul class="dropdown-menu">
                                <li><a href="/Admin/MyAccount/" class="dropdown-item"><i class="md md-face-unlock mr-2"></i> Profile</a></li>
                                <li><a href="javascript:void(0)" class="dropdown-item"><i class="md md-settings mr-2"></i> Settings</a></li>
                                <li><a href="javascript:void(0)" class="dropdown-item"><i class="md md-lock mr-2"></i> Lock screen</a></li>
                                <li><a href="javascript:logOutUser();" class="dropdown-item"><i class="md md-settings-power mr-2"></i> Logout</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <!-- Top Bar End -->
        <!-- ========== Left Sidebar Start ========== -->

        <div class="left side-menu">
            <div class="sidebar-inner slimscrollleft">
                <div class="user-details">
                    <div class="pull-left">
                        <img src="~/adminTheme/assets/images/users/user.png" alt="" class="thumb-md rounded-circle">
                    </div>
                    <div class="user-info">
                        <div class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                @User.GetClaimValue(UserClaims.FullName)
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="/Admin/MyAccount/" class="dropdown-item"><i class="md md-face-unlock mr-2"></i> Profile<div class="ripple-wrapper"></div></a></li>
                                <li><a href="javascript:void(0)" class="dropdown-item"><i class="md md-settings mr-2"></i> Settings</a></li>
                                <li><a href="javascript:void(0)" class="dropdown-item"><i class="md md-lock mr-2"></i> Lock screen</a></li>
                                <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm">
                                    <li><a href="javascript:document.getElementById('logoutForm').submit()" class="dropdown-item"><i class="md md-settings-power mr-2"></i> Logout</a></li>
                                </form>
                            </ul>
                        </div>

                        <p class="text-muted m-0">Administrator</p>
                    </div>
                </div>
                <!--- Divider -->
                <div id="sidebar-menu">
                    <ul>
                        <li>
                            <a href="/Admin" class="waves-effect"><i class="md md-home"></i><span> Dashboard </span></a>
                        </li>
                        <li>
                            <a href="/Admin/Categories" class="waves-effect"><i class="md md-list"></i><span> Categories </span></a>
                        </li>
                        <li>
                            <a href="/Admin/Familys" class="waves-effect"><i class="md md-people"></i><span> Familys </span></a>
                        </li>
                        <li class="has_sub">
                            <a href="#" class="waves-effect"><i class="md md-explore"></i><span> WorldDb </span><span class="pull-right"><i class="md md-add"></i></span></a>
                            <ul class="list-unstyled">
                                @*<li><a href="/Admin/WorldDb/Country">Country</a></li>
                                <li><a href="/Admin/WorldDb/State">State</a></li>
                                <li><a href="/Admin/WorldDb/City">City</a></li>*@
                                <li><a href="/Admin/WorldDb/District">District</a></li>
                                <li><a href="/Admin/WorldDb/County">County</a></li>
                                <li><a href="/Admin/WorldDb/Village">Village</a></li>
                            </ul>
                        </li>
                        @*<li>
                                <a href="/Admin/WorldDb" class="waves-effect"><i class="md md-list"></i><span> WorldDb </span></a>
                            </li>*@
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <!-- Left Sidebar End -->
        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="content-page">
            <!-- Start content -->
            <div class="content">
                <div class="container-fluid">
                    <!-- Page-Title -->
                    @if (ViewBag.IsBreadcrumb == null)
                    {
                        <div class="row">
                            <div class="col-sm-12">
                                <h4 class="pull-left page-title">@ViewData["Title"]</h4>
                                <ol class="breadcrumb pull-right">
                                    <li><a href="/Admin/">Dashboard</a></li>
                                    @RenderSection("PageTitle", required: false)
                                </ol>
                            </div>
                        </div>
                    }
                    <!-- end row -->
                    @RenderBody()
                </div> <!-- container-fluid -->
            </div> <!-- content -->

            <footer class="footer">
                @DateTime.Now.Year © Parivar.
            </footer>

        </div>
        <!-- ============================================================== -->
        <!-- End Right content here -->
        <!-- ============================================================== -->
        <!-- Right Sidebar -->
        <partial name="_Chat.cshtml" />
        <!-- /Right-bar -->


    </div>
    <!-- END wrapper -->
    <!--  Modal content for the above example -->
    <div id="divModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none">
        <div class="modal-dialog">
            <div class="modal-content">
                <div id="modalContent"></div>
            </div>
        </div>
    </div>

    <script>
        var resizefunc = [];
    </script>

    <!-- jQuery  -->
    <script src="~/adminTheme/assets/js/jquery.min.js"></script>
    <script src="~/adminTheme/assets/js/bootstrap.bundle.min.js"></script>
    <script src="~/adminTheme/assets/js/detect.js"></script>
    <script src="~/adminTheme/assets/js/fastclick.js"></script>
    <script src="~/adminTheme/assets/js/jquery.slimscroll.js"></script>
    <script src="~/adminTheme/assets/js/jquery.blockUI.js"></script>
    <script src="~/adminTheme/assets/js/waves.js"></script>
    <script src="~/adminTheme/assets/js/wow.min.js"></script>
    <script src="~/adminTheme/assets/js/jquery.nicescroll.js"></script>
    <script src="~/adminTheme/assets/js/jquery.scrollTo.min.js"></script>

    <!-- Plugins Js -->
    <script src="~/adminTheme/plugins/moment/moment.min.js"></script>
    <script src="~/adminTheme/plugins/bootstrap-toggle/bootstrap-toggle.js"></script>
    <script src="~/adminTheme/plugins/sweetalert2/sweetalert2.min.js"></script>

    <!-- Datatables-->
    <script src="~/js/Datatable.min.js"></script>
    <script src="~/lib/Common/dialogs.js"></script>
    <script src="~/lib/Common/common.js"></script>

    <script type="text/javascript">
        var originalModal = $("#divModal").clone();
        $("#divModal").on("hidden.bs.modal", function () {
            $("#divModal").remove();
            const myClone = originalModal.clone();
            $("body").append(myClone);
        });
        $(window).on("load", function () {
            dataTableReSize();
        });
        $(window).on("resize", function () {
            dataTableReSize();
        });
    </script>
    @RenderSection("PageScripts", required: false)
    <script src="~/adminTheme/assets/js/jquery.app.js"></script>
    <script type="text/javascript">
        function getWorldDbList(id, types) {
            return $.ajax({
                url: "/Home/GetWorldDbList/",
                type: "GET",
                data: { 'id': id, 'types': types },
                dataType: "json",
                traditional: true,
                contentType: "application/json; charset=utf-8"
            });
        }

        function renderDropdown(id, result) {
            var label = $(id).data('label');
            $(id).empty();

            //$("<option>", { text: "--" + label + " --", value: "" }).html("-- " + label + " --").appendTo(id);

            if (result != null) {
                $.each(result.data, function (key, val) {
                    $("<option>", { text: val.text, value: val.value, dataExtra: val.extra }).html(val.text).appendTo(id);
                });
            }
        }
    </script>
</body>

</html>