@model FamilyModel
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "Edit Account";
}
<link href="~/lib/plugins/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css" rel="stylesheet" />
<div class="wraper">
    <div class="row">
        <div class="col-sm-12">
            <div class="bg-picture text-center" style="background-image: url('/adminTheme/assets/images/big/bg.jpg')">
                <div class="bg-picture-overlay"></div>
                <div class="profile-info-name">
                    <img src="~/adminTheme/assets/images/users/user.png" class="thumb-lg rounded-circle img-thumbnail" alt="profile-image">
                    <h3 class="text-white">@Model.FullName</h3>
                </div>
            </div>
            <!--/ meta -->
        </div>
    </div>
    <div class="row user-tabs">
        <div class="col-md-9 col-xl-6">
            <ul class="nav nav-tabs tabs" role="tablist">
                <li class="nav-item tab">
                    <a class="nav-link active" id="Main-Member" data-toggle="tab" href="#MainMember" role="tab" aria-controls="Main Member" aria-selected="true">
                        <span class="d-block d-sm-none"><i class="fa fa-home"></i></span>
                        <span class="d-none d-sm-block">Main Member</span>
                    </a>
                </li>
                @for (int i = 0; i < Model.FamilyMemberDetails.Count; i++)
                {
                    <li class="nav-item tab">
                        <a class="nav-link" id="Member-@(i)" data-toggle="tab" href="#tab@(i)" role="tab" aria-controls="Member @(i+1)" aria-selected="false">
                            <span class="d-block d-sm-none"><i class="fa fa-home"></i></span>
                            <span class="d-none d-sm-block">Member @(i+1)</span>
                        </a>
                    </li>
                }
                <div class="indicator"></div>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <form id="frmEditFamily">
                @Html.AntiForgeryToken()
                <div class="tab-content profile-tab-content">
                    <div class="tab-pane show active" id="MainMember" role="tabpanel" aria-labelledby="Main-Member">
                        <div class="card card-default card-fill">
                            <div class="card-header">
                                <h3 class="card-title">Edit Profile</h3>
                            </div>
                            <div class="card-body">
                                <input type="hidden" asp-for="Id" />
                                <input type="hidden" asp-for="Email" />
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="FullName">@Localizer[LocalizationConstant.MainMember]</label>
                                            <input type="text" asp-for="FirstName" class="form-control">
                                            <span asp-validation-for="FirstName" class="text-danger"></span>
                                            <input type="hidden" asp-for="LastName" value="Chodavadiya" class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <label for="FatherName">@Localizer[LocalizationConstant.FatherName]</label>
                                            <input type="text" asp-for="FatherName" class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <label for="ResidentAddress">@Localizer[LocalizationConstant.ResidentialAddress]</label>
                                            <textarea asp-for="ResidentAddress" class="form-control"></textarea>
                                            <span asp-validation-for="ResidentAddress" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="DistrictId">@Localizer[LocalizationConstant.District]</label>
                                            <select asp-for="DistrictId" class="form-control" data-label="@Localizer[LocalizationConstant.District]"></select>
                                        </div>
                                        <div class="form-group">
                                            <label for="CountyId">@Localizer[LocalizationConstant.Taluk]</label>
                                            <select asp-for="CountyId" class="form-control" data-label="@Localizer[LocalizationConstant.Taluk]"></select>
                                        </div>
                                        <div class="form-group">
                                            <label for="VillageId">@Localizer[LocalizationConstant.Village]</label>
                                            <select asp-for="VillageId" class="form-control" data-label="@Localizer[LocalizationConstant.Village]"></select>
                                        </div>
                                    </div>
                                    <div class="row col-md-12">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>@Localizer[LocalizationConstant.MobileNumber]</label>
                                                <input asp-for="PhoneNumber" type="tel" class="form-control" />
                                                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>@Localizer[LocalizationConstant.Email]</label>
                                                <input asp-for="Email" type="email" readonly="readonly" class="form-control" />
                                                <span asp-validation-for="Email" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>@Localizer[LocalizationConstant.Gender]</label>
                                                <select class="select2 form-control" data-label="@Localizer[LocalizationConstant.Gender]" asp-for="Gender" asp-items="ViewBag.GenderList as IEnumerable<SelectListItem>">
                                                </select>
                                                <span asp-validation-for="Gender" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <button id="btnSaveFamily" class="btn btn-primary waves-effect waves-light w-md" type="button">Save</button>

                            </div>
                        </div>
                    </div>
                    @for (int i = 0; i < Model.FamilyMemberDetails.Count; i++)
                    {
                        <div class="tab-pane" id="tab@(i)" aria-labelledby="Member-@(i)">
                            <div class="card card-default card-fill">
                                <div class="card-header">
                                    <h3 class="card-title">Edit Profile</h3>
                                </div>
                                <div class="card-body">
                                    <input type="hidden" asp-for="FamilyMemberDetails[i].Id" />
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>@Localizer[LocalizationConstant.MemberName]</label>
                                                <input asp-for="FamilyMemberDetails[i].FullName" type="text" class="form-control" />
                                                <span asp-validation-for="FamilyMemberDetails[i].FullName" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>@Localizer[LocalizationConstant.RelationshipWithMainMember]</label>
                                                <select class="form-control" data-label="@Localizer[LocalizationConstant.Relationship]" asp-for="FamilyMemberDetails[i].RelationShipId" asp-items="ViewBag.RelationShipList as IEnumerable<SelectListItem>">
                                                </select>
                                                <span asp-validation-for="FamilyMemberDetails[i].RelationShipId" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>@Localizer[LocalizationConstant.BirthDate]</label>
                                                <input asp-for="FamilyMemberDetails[i].DateOfBirthInStr" type="text" class="DateOfBirth form-control" data-birth="@Model.FamilyMemberDetails[i].DateOfBirthInStr" />
                                                <span asp-validation-for="FamilyMemberDetails[i].DateOfBirthInStr" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>@Localizer[LocalizationConstant.BloodGroup]</label>
                                                <br />
                                                <select class="notranslate form-control" data-label="@Localizer[LocalizationConstant.BloodGroup]" asp-for="FamilyMemberDetails[i].BloodGroupId" asp-items="ViewBag.BloodGroupList as IEnumerable<SelectListItem>">
                                                </select>
                                                <span asp-validation-for="FamilyMemberDetails[i].BloodGroupId" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label>@Localizer[LocalizationConstant.Gender]</label>
                                                <br />
                                                <select class="notranslate form-control" data-label="@Localizer[LocalizationConstant.Gender]" asp-for="FamilyMemberDetails[i].Gender" asp-items="ViewBag.GenderList as IEnumerable<SelectListItem>">
                                                </select>
                                                <span asp-validation-for="FamilyMemberDetails[i].Gender" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label>@Localizer[LocalizationConstant.Married]</label>
                                                <br />
                                                <select asp-for="FamilyMemberDetails[i].IsMarried" class="form-control" data-label="@Localizer[LocalizationConstant.Married]">
                                                    <option value="true">@Localizer[LocalizationConstant.Yes]</option>
                                                    <option value="false">@Localizer[LocalizationConstant.No]</option>
                                                </select>
                                                <span asp-validation-for="FamilyMemberDetails[i].IsMarried" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>@Localizer[LocalizationConstant.EducationStudy]</label>
                                                <br />
                                                <select class="form-control" data-label="@Localizer[LocalizationConstant.EducationStudy]" asp-for="FamilyMemberDetails[i].EducationId" asp-items="ViewBag.EducationList as IEnumerable<SelectListItem>">
                                                </select>
                                                <span asp-validation-for="FamilyMemberDetails[i].EducationId" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>@Localizer[LocalizationConstant.Business]</label>
                                                <br />
                                                <select class="form-control" data-label="@Localizer[LocalizationConstant.Business]" asp-for="FamilyMemberDetails[i].BussionessId" asp-items="ViewBag.BusinessList as IEnumerable<SelectListItem>">
                                                </select>
                                                <span asp-validation-for="FamilyMemberDetails[i].BussionessId" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>@Localizer[LocalizationConstant.SurnameOfMosal]</label>
                                                <input asp-for="FamilyMemberDetails[i].MosalSurname" type="text" class="form-control" />
                                                <span asp-validation-for="FamilyMemberDetails[i].MosalSurname" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>@Localizer[LocalizationConstant.MosalVillage]</label>
                                                <input asp-for="FamilyMemberDetails[i].MosalVillage" type="text" class="form-control" />
                                                <span asp-validation-for="FamilyMemberDetails[i].MosalVillage" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>

                                    <button id="btnSaveFamily" class="btn btn-primary waves-effect waves-light w-md" type="button">Save</button>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </form>
        </div>
    </div>

</div>


@section PageScripts {
    <partial name="_ValidationScriptsPartial.cshtml" />
<script src="~/lib/plugins/bootstrap-datepicker/dist/js/bootstrap-datepicker.js"></script>
<script type="text/javascript">
    $.fn.datepicker.defaults.format = "M/dd/yyyy";
    $.fn.datepicker.defaults.autoclose = true;
    $(document).ready(function () {
        getWorldDbList(@(Model.StateId), 4).done(function (districtResponse) {
            renderDropdownWithValue("#DistrictId", districtResponse, @(Model.DistrictId));
            getWorldDbList(@(Model.DistrictId), 5).done(function (countyResponse) {
                renderDropdownWithValue("#CountyId", countyResponse, @(Model.CountyId));
                getWorldDbList(@(Model.CountyId), 6).done(function (villageResponse) {
                    renderDropdownWithValue("#VillageId", villageResponse, @(Model.VillageId));
                });
            });
        });
        $('.DateOfBirth').datepicker();
    });
    $(document).on("click",".tab", function(e){
        var href = $(e.currentTarget).attr("href");
        var dateOfBirth = $(href).find(".DateOfBirth").data("birth");
        $($(href).find(".DateOfBirth")).datepicker("setDate" , dateOfBirth)
    });

   $("#btnSaveFamily").click(function () {
        var $form = $('#frmEditFamily');
        $.validator.unobtrusive.parse("[data-val-required]");

        if ($form.valid()) {
            $.post("/Admin/Familys/EditFamily", $form.serialize(), function (response) {
                if (response.status === 1) {
                    Parivar.HandleResponse(response, true, function () {
                        location.reload();
                    });
                } else {
                    Parivar.HandleResponse(response);
                }
            });
        }
    });

    function renderDropdownWithValue(id, result, selecteId = null) {
        var label = $(id).data('label');
        $(id).empty();

        $("<option>", { text: "--" + label + " --", value: "" }).html("-- " + label + " --").appendTo(id);

        if (result != null) {
            $.each(result.data, function (key, val) {
                $("<option>", { text: val.text, value: val.value, dataExtra: val.extra }).html(val.text).appendTo(id);
            });
            if(selecteId!=null){
                $(id).val(selecteId);
            }
        }
    }
</script>
}